[submodule "covid-19-data"]
	url = https://github.com/nytimes/covid-19-data
[submodule "2020-elections-official"]
	path = 2020-elections-official
	url = https://github.com/MEDSL/2020-elections-official
